// ========================================
//
// @file _navigation.scss
// All the navigation elements on the page
//
// ========================================

.navigation {

}

#block-nkvisoko-main-menu{
  ul{
    li{
      padding:10px;
      display: inline-block;
      background: $color-primary-grey;
      &:hover {
        background-color: $color-primary-green;
      }
      a {
        text-decoration: none;
        &:hover {
        text-decoration: underline;
      }
      }
    }
  }
}