// ========================================
//
// @file _navigation.scss
// All the navigation elements on the page
//
// ========================================

.navigation {

}

.region-primary-menu{
  ul{
    li{

      padding:10px 20px;
      display: inline-block;
      background: $color-primary-green;
      &:hover {
        background-color: $color-white;
      }
      a {
        font-family: $primary-font-stack;
        color: $color-white;
        text-decoration: none;
        &:hover {
          color: $color-primary-green;
          text-decoration: underline;
      }
      }
    }
  }
}