// ========================================
//
// @file _extends.scss
// File containing all Sass extendables
//
// ========================================

.font-size-news-title {
  font-size: 15px;
  color: black;
  font-weight: bold;
}